body {
    background-image: url(../image/back.jpeg);
    background-size: cover;
}

header {
    height: 10vh;
}

ul {
    color: white;
    list-style: none;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

#color{
    color: #19204B;
    font-weight: 400;
}
a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}
label{
    font-weight: 400;
}
