body {
    background-image: url(../image/back.jpeg);
    background-size: cover;
}

header {
    height: 10vh;
}
#usuario{
    margin-top: 11px;
    color: white;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
ul {
    color: white;
    list-style: none;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

#color{
    color: #19204B;
    font-weight: 400;
}
nav a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}
ul label{
    font-weight: 400;
}

@media (max-width:800px){
    ul label{
        margin-left:55px;
    }
    li{
        margin-left: 15px;
    }
}
