section {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 0 1em rgb(0 0 0 / 50%);
    background-color: white;
    background-image: url(../image/Medicine-cuate.png);
    background-size: cover;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    justify-content: center;
    height: 75vh;
}
h1{
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: unset;
}

form {
    margin-top: 2em;
    margin-right: 2em;
}

.tipo-cadastro {
    width: 270px;
    height: 50px;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: black;
    border-color: #ECEDEF;
    border-width: 2px;
}

@media (max-width: 580px) {
    section{
        width: auto;
    }
    .tipo-cadastro {
        width: 200px;
    }
    
}