body{
    margin: 0;
}
section {
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 0 1em rgb(0 0 0 / 50%);
    background-color: white;
    font-family: 'Inter', sans-serif;
}

#titulo {
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    height: 12%;
}

h1 {
    font-weight: unset;
    margin-left: 45px;
}


.linha {
    color: black;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 12%;
    max-height: auto;
    margin: unset;
    font-size: 18px;
    box-shadow: 0px 2px 2px -1px rgb(0 0 0 / 20%);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
.atualizacao{
    color: black;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
.formulario {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: unset;
    justify-content: space-around;
    min-height: 12vh;
}


.medico {
    width: 50%;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 12vh;
    box-shadow: -2px 0px 2px -1px rgb(0 0 0 / 20%);
}

.cadastro {
    font-family: 'Inter', sans-serif;
    height: 40px;
}

.busca_cpf{
    width: 100%;
    display: flex;
    align-items: center;
    height: 12vh;
    justify-content: center;
    box-shadow: -2px 0px 2px -1px rgb(0 0 0 / 20%);
}

#cpf_m {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
#cpf {
    border: 1.5px solid #D1D5DB;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
}

#adicionar {
    width: 175px;
    border-color: #ECEDEF;
    border-width: 2px;
    border-radius: 30px;
    height: 40px;
        
}

th{
    font-weight: unset;
}