body, ul{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.cabecalho{
    height: 60px;
    background-color: #3949AB;
}
nav{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-family:  'Lato', sans-serif;
}
nav ul{
    display: flex;
    width: 95%;
    justify-content: space-between;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
}
.nav-conteudo{
    display: flex;
    width: 35%;
    justify-content: space-around;
}